
[visualizer]
name=           JPCC Visualizer
description=
showParameter=          true
cameraPosition=         0.0, 0.0, 200000.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0
#cameraPosition=         -10000, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0
bufferSize=             32
pointSize=              3
windowWidth=            1280
windowHeight=           720
idColors=               cloud, z
idColors=               jpccConditionalRemoval, 0.5, 0.5, 0.5
idColors=               radiusOutlierRemoval, 1.0, 0.0, 1.0
idColors=               statisticalOutlierRemoval, 1.0, 0.0, 0.5
outputScreenshot=       false
outputScreenshotDir=    ../../result/JPCCVisualizer/
